// Mixins in here

.makeButtons(@width, @color, @bgColor, @borderRadius, @fontSize) {
    width: @width;
    background-color: @bgColor;
    border-radius: @borderRadius;
    font-size: @fontSize;

}


